<div class='container center_div'>
	<h1>Register Page</h1>
	<br>
	<form id='login-form'>
		<table>
			<tr>
				<td>
					<label for='name'>Name</label>
				</td>
				<td>
					<input id='name' type='text' class='input-xlarge' placeholder'Name'/>
				</td>
			</tr>
			<tr>
				<td>
					<label for='email'>Email</label>
				</td>
				<td>
					<input id='email' type='text' class='input-xlarge' placeholder='Email'/>
				</td>
			</tr>
			<tr>
				<td>
					<label for='role' >Role</label>
				</td>
				<td>
					<select id='role' class="input-xlarge">
						<ul class="dropdown-menu" role="menu">
							<option ng-repeat="role in roles" value="{{role}}">
								{{role}}
							</option>
						</ul>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label for='group' >Group</label>
				</td>
				<td>
					<select id='group' class="input-xlarge">
						<ul class="dropdown-menu" role="menu">
							<option ng-repeat="group in groups" value="{{group}}">
								{{role}}
							</option>
						</ul>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label for='username'>UserName</label>
				</td>
				<td>
					<input id='username' type='text' class='input-xlarge' placeholder='UserName'/>
				</td>
			</tr>
			
			<tr>
				<td>
					<label for='password'>Password</label>
				</td>
				<td>
					<input id='password' type='text' class='input-xlarge' placeholder='Password'/>
				</td>
			</tr>
			<tr>
				<td>
					<button type="button" id="account-form-btn1" class="btn btn-default">Cancel</button>
				</td>
				<td>
					<button type="submit" id="account-form-btn2" class="btn btn-primary">Submit</button>
				</td>
			</tr>
			
		</table>

	</form>
</div>