<div class="container">
    <div class="page-header">
        <h1>Off Canvas Push Menu Template</h1>
    </div>

    <div class="row">
        <div class="3u 6u(medium) 12u$(xsmall)">
                      <button type="button" class="btn btn-default btn-lg" ng-click="openAside('left')">
            <span class="glyphicon glyphicon-align-justify"></span> Left
            </button>
        </div>
        <div class="3u 6u$(medium) 12u$(xsmall)">
           <button type="button" class="btn btn-default btn-lg" ng-click="openAside('top')">
            Up <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
        </div>
        <div class="3u 6u(medium) 12u$(xsmall)">
             <button type="button" class="btn btn-default btn-lg" ng-click="openAside('bottom')">
            Down <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
        </div>
        <div class="3u$ 6u$(medium) 12u$(xsmall)">
           <button type="button" class="btn btn-default btn-lg" ng-click="openAside('right')">
            Right <span class="glyphicon glyphicon-align-justify"></span>
            </button>
        </div>
    </div>
</div>