<!DOCTYPE html>
<html ng-app="dashboard">
  <head>
    <title>IT Dashboard</title>
    <!-- BootstrapCDN -->
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.3.1/slate/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- compiled css -->
    <link href="styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/style-medium.css" media="(min-width: 769px) and (max-width: 1024px)" />
    <link rel="stylesheet" href="styles/style-small.css" media="(max-width: 768px)" />
    <!-- concatenated library css file -->
    <link href="styles/css-libs.css" rel="stylesheet">
    <!-- off canvas css -->
    <link href="styles/additional.css" rel="stylesheet">
    <!-- libraries concatenated -->
    <script type="text/javascript" src="libs.js"></script>
    <!-- Native AngularJS (Angular) directives for Bootstrap -->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <!-- app concatenated -->
    <script type="text/javascript" src="app.js"></script>
    <!-- html templates -->
    <script type="text/javascript" src="templates-app.js"></script>
    <!-- analytics! -->
    <script>
    
    </script>
  </head>
  <body ng-controller="BodyController">
    
    <div class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">IT Dashboard</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="nav-collapse">
        <!-- Navbar links -->
        <ul class="nav navbar-nav">
          <li ng-class="{ active: $state.is('app.home') }">
            <a ui-sref="app.home">Home</a>
          </li>
          <li ng-class="{ active: $state.is('app.admin') }">
            <a ui-sref="app.admin">Admin page</a>
          </li>
          <li ng-class="{ active: $state.is('app.user') }">
            <a ui-sref="app.user">User page</a>
          </li>
          <li ng-class="{ active: $state.is('app.devops') }">
            <a ui-sref="app.devops">Devops page</a>
          </li>
          <li ng-class="{ active: $state.is('app.register') }">
            <a ui-sref="app.register">Register page</a>
          </li>
          <li ng-class="{ active: $state.is('app.sidemenu') }">
            <a ui-sref="app.sidemenu">Menu page</a>
          </li>
        </ul>
        <!-- Right side of the navbar -->
        <!-- Login Form -->
        <form class="navbar-form navbar-right" name="loginForm" role="login" ng-submit="loginMe()" ng-hide="ls.isLogged || !ls.doneLoading">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="login.username" name="username" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" ng-model="login.password" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default hidden-devices" ng-disabled="login.working">Login <i class="fa" ng-class="login.working ? 'fa-cog fa-spin' : 'fa-sign-in'"></i></button>
        </form>
        <!-- Spinner -->
        <button class="btn btn-default navbar-btn navbar-right" ng-hide="ls.doneLoading">
        <i class="fa fa-spinner fa-spin"></i>
        </button>
        <!-- Logout Form -->
        <form class="navbar-form navbar-right" role="logout" ng-submit="logoutMe()" ng-show="ls.isLogged">
          <div class="form-group">
            <label>Hello {{ ls.user.name }}</label>
          </div>
          <div class="form-group">
            <button  type="submit" class="btn btn-default">Logout <i class="fa fa-signout"></i></button>
          </div>
        </form>
        
        
      </div>
    </div>
    <div id="main" class='container'>
      <ui-view></ui-view>
    </div>
    
    
    <!-- footer -->
    <div id='footer'>
    </div>
  </body>
</html>