<div class="container-fluid" ng-controller='deployManagementController'>

    <div class="row">
        <div class="col-md-12">

                        <tabset class="tabs-left">


                            <tab ng-repeat="deploy in deploys" active="deploy.active" disabled="deploy.disabled">
                                <tab-heading><i class="glyphicon tab-heading-icon" ng-class="applyIconClass(deploy)"></i>{{deploy.comments}}</tab-heading>
                                   <div>
                                    <strong>{{deploy.user.username}}</strong>
                                   </div>
                                   <div>
                                    <strong>{{deploy.instance.name}}</strong>
                                   </div>
                            </tab>
                        </tabset>


        </div>

        <div class="col-sm-6">
            <pagination class="mb5" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" 
            items-per-page='itemPerPage'></pagination>
        </div>


    </div>

    <hr/>

    <div class="form-container">

                <form name="form" class="form-horizontal" ng-submit="addDeploy(form)" >
                    <div class="form-group">
                        <label for="deployDate" class="control-label col-sm-4" style="text-align: left;">Deploy Date</label>
                        <div class="col-sm-8">

                             <div class="input-group">
                                <input type="text" class="form-control datepicker" ng-model="deploy.deployDate" is-open="dateDialogOpend" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" datepicker-popup="{{format}}"
                                    close-text="Close" mongoose-error/>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDateDialog($event)">
                                        <i class="fa fa-calendar"></i></button>
                                </div>
                            </div>




                        </div>
                    </div>

                    <div class="form-group">
                        <label for="deployDate" class="control-label col-sm-4" style="text-align: left;">Format:</label>

                        <div class="col-sm-8">
                            <select class="form-control" ng-model="format" ng-options="f for f in formats">
                                <option></option>
                            </select>
                            <br>
                            <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comments" class="control-label col-sm-4" style="text-align: left;">Comments</label>
                        <div class="col-sm-8">

                            <textarea class="form-control autosize"
                            id="comments" name="comments" 
                            ng-model="deploy.comments" placeholder="Comments" mongoose-error></textarea>
                        </div>
                    </div>


                    <div class="form-group">
                       <label for="instance" class="control-label col-sm-4" style="text-align: left;">Instance</label>
                        <div class='col-sm-8'>
                            <select ng-model='deploy.instance' name='instance' id='instance'>
                                <option ng-repeat='instance in instances' value='{{instance._id}}'>
                                {{instance.name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="user" class="control-label col-sm-4" style="text-align: left;">User</label>
                            <div class='col-sm-8'>
                                <select ng-model='deploy.user' name='user' id='user'>
                                    <option ng-repeat='user in users' value='{{user._id}}'>
                                    {{user.username}}
                                    </option>
                                </select>
                            </div>
                    </div>


                                       <div class="isa_error" ng-show='error'>
                       <i class="fa fa-times-circle"></i>
                       {{error}}
                    </div>


                        <div class="panel-footer">
                            <div class="pull-left">
                                <a href="#/" class="btn btn-default">Cancel</a>
                            </div>
                            <div class="pull-right">
                                <button type='submit' class="btn btn-success">Create Instance</button>
                            </div>
                        </div>
                </form>


    </div>


    <div class='row'>
        
    </div>

</div>
