<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">

            <div ng-controller='DevopsController'>

                <tabset panel-tabs="true" panel-class="panel-midnightblue">

                    <tab ng-repeat="environment in environments" heading="{{environment.name}}">

                        <tabset class="tabs-left">


                            <tab ng-repeat="stack in environment.stacks" active="stack.active" disabled="stack.disabled">
                                <tab-heading><i class="glyphicon tab-heading-icon" ng-class="applyIconClass(stack)"></i>{{stack.name}}</tab-heading>
                                <p>{{stack.description}}</p>
                                <accordion close-others="oneAtATime" class="panel-danger">

                                    <accordion-group heading="{{group.title}}" ng-repeat="group in stack.groups" is-open="group.isOpen">
                                        {{group.content}}
                                    </accordion-group>

                                </accordion>
                            </tab>
                        </tabset>

                    </tab>



                </tabset>


            </div>


        </div>
    </div>

    <div class="row">


        <hr />


    </div>

</div>