<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">

            <div ng-controller='DevopsController'>

                <tabset panel-tabs="true" panel-class="panel-midnightblue">

                    <tab ng-repeat="environment in environments" heading="{{environment.name}}">

                        <tabset class="tabs-left">


                            <tab ng-repeat="stack in environment.stacks" active="stack.active" disabled="stack.disabled">
                                <tab-heading><i class="glyphicon tab-heading-icon" ng-class="applyIconClass(stack)"></i>{{stack.name}}</tab-heading>
                                <p>{{stack.description}}</p>
                                <accordion close-others="oneAtATime" class="panel-danger">

                                    <accordion-group heading="{{group.title}}" ng-repeat="group in stack.groups" is-open="group.isOpen">
                                        {{group.content}}
                                        <button type="button" class="btn btn-default">Retrieve</button>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th style="padding-right:100px">Country</th>
                                                    <th>Population (1000s)</th>
                                                    <th>Adults (1000s)</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td align="left"><i>World</i></td>
                                                    <td>6085576</td>
                                                    <td>3697511</td>

                                                </tr>

                                                <tr>
                                                    <td align="left"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/23px-Flag_of_the_United_States.svg.png" width="23" height="12" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/35px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/46px-Flag_of_the_United_States.svg.png 2x">&nbsp;</span>United States</a></td>
                                                    <td>284154</td>
                                                    <td>202865</td>

                                                </tr>

                                                <tr>
                                                    <td align="left"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/23px-Flag_of_Japan.svg.png" width="23" height="15" srcset="//upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/35px-Flag_of_Japan.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/45px-Flag_of_Japan.svg.png 2x">&nbsp;</span>Japan</td>
                                                    <td>127034</td>
                                                    <td>100933</td>

                                                </tr>

                                                <tr>
                                                    <td align="left"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/23px-Flag_of_the_People%27s_Republic_of_China.svg.png" width="23" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/35px-Flag_of_the_People%27s_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/45px-Flag_of_the_People%27s_Republic_of_China.svg.png 2x">&nbsp;</span>China</td>
                                                    <td>1251788</td>
                                                    <td>842063</td>

                                                </tr>

                                                <tr>
                                                    <td align="left"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/23px-Flag_of_the_United_Kingdom.svg.png" width="23" height="12" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/35px-Flag_of_the_United_Kingdom.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/46px-Flag_of_the_United_Kingdom.svg.png 2x">&nbsp;</span>United Kingdom</a></td>
                                                    <td>58670</td>
                                                    <td>43871</td>

                                                </tr>

                                                <tr>
                                                    <td align="left"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png" width="23" height="14" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/35px-Flag_of_Germany.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/46px-Flag_of_Germany.svg.png 2x">&nbsp;</span>Germany</td>
                                                    <td>82344</td>
                                                    <td>64810</td>

                                                </tr>

                                                <tr>
                                                    <td align="left"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/23px-Flag_of_Italy.svg.png" width="23" height="15" srcset="//upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/35px-Flag_of_Italy.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/45px-Flag_of_Italy.svg.png 2x">&nbsp;</span>Italy</td>
                                                    <td>57715</td>
                                                    <td>46416</td>

                                                </tr>

                                                <tr>
                                                    <td align="left"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" width="23" height="15" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x">&nbsp;</span>India</td>
                                                    <td>1021084</td>
                                                    <td>570595</td>

                                                </tr>

                                                <tr>
                                                    <td align="left"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/23px-Flag_of_France.svg.png" width="23" height="15" srcset="//upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/35px-Flag_of_France.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/45px-Flag_of_France.svg.png 2x">&nbsp;</span>France</td>
                                                    <td>59278</td>
                                                    <td>44358</td>

                                                </tr>

                                                <tr>
                                                    <td align="left"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/23px-Flag_of_Spain.svg.png" width="23" height="15" srcset="//upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/35px-Flag_of_Spain.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/45px-Flag_of_Spain.svg.png 2x">&nbsp;</span>Spain</td>
                                                    <td>40717</td>
                                                    <td>32165</td>

                                                </tr>

                                                <tr>
                                                    <td align="left"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/22px-Flag_of_Brazil.svg.png" width="22" height="15" srcset="//upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/33px-Flag_of_Brazil.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/43px-Flag_of_Brazil.svg.png 2x">&nbsp;</span>Brazil</td>
                                                    <td>173858</td>
                                                    <td>104213</td>

                                                </tr>

                                                <tr>
                                                    <td align="left"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/c/cf/Flag_of_Canada.svg/23px-Flag_of_Canada.svg.png" width="23" height="12" srcset="//upload.wikimedia.org/wikipedia/en/thumb/c/cf/Flag_of_Canada.svg/35px-Flag_of_Canada.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/c/cf/Flag_of_Canada.svg/46px-Flag_of_Canada.svg.png 2x">&nbsp;</span>Canada</td>
                                                    <td>30689</td>
                                                    <td>22764</td>

                                                </tr>
                                                </tbody>
                                                <caption>List of countries by distribution wealth</caption>
                                            </table>
                                        </div> <! -- deploy table end! -->

                                        <p>Commands</p>

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default">Run</button>
                                            <button type="button" class="btn btn-default">Deploy</button>
                                            <button type="button" class="btn btn-default">Show</button>
                                        </div>
                                    </accordion-group>

                                </accordion>
                            </tab>
                        </tabset>

                    </tab>



                </tabset>


            </div>


        </div>
    </div>

    <div class="row">


        <hr />


    </div>

</div>