<div class="container-fluid" ng-controller='userManagementController'>

    <div class="row">
        <div class="col-md-12">

                        <tabset class="tabs-left">


                            <tab ng-repeat="group in groups" active="group.active" disabled="group.disabled">
                                <tab-heading><i class="glyphicon tab-heading-icon" ng-class="applyIconClass(group)"></i>{{group.name}}</tab-heading>
                                    <ul class='user-info-list' ng-repeat="user in group.users">
                                    	<li class='user-info-item'>
                                    		<div class="jumbotron">
                                        		<h1>{{user.firstname + ' ' + user.lastname}}</h1>
                                        	</div>

	                                        
                                    	</li>
                                    </ul>
                            </tab>
                        </tabset>


        </div>
    </div>

    <div class="row">


        <hr />


    </div>

</div>
