<div class="container-fluid" ng-controller='stackManagementController'>

    <div class="row">
        <div class="col-md-12">

                        <tabset class="tabs-left">


                            <tab ng-repeat="stack in stacks" active="stack.active" disabled="stack.disabled">
                                <tab-heading><i class="glyphicon tab-heading-icon" ng-class="applyIconClass(stack)"></i>{{stack.name}}</tab-heading>
                                    <ul class='user-info-list' ng-repeat="instance in stack.instances">
                                    	<li class='user-info-item'>
                                    		<div class="jumbotron">
                                        		<h1>{{instance.name}}</h1>
                                        	</div>


                                    	</li>
                                    </ul>
                            </tab>
                        </tabset>


        </div>
    </div>

    <div class="row">

                <form name="form" class="form-horizontal" ng-submit="addStack(form)" >
                    <div class="form-group">
                        <label for="name" class="control-label col-sm-4" style="text-align: left;">Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="name" name="name" ng-model="stack.name" placeholder="Name" 
                            required mongoose-error>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label col-sm-4" style="text-align: left;">Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="description" name="description" ng-model="stack.description" placeholder="Description" mongoose-error>
                        </div>
                    </div>


                        <div class="panel-footer">
                            <div class="pull-left">
                                <a href="#/" class="btn btn-default">Cancel</a>
                            </div>
                            <div class="pull-right">
                                <button type='submit' class="btn btn-success">Create Stack</button>
                            </div>
                        </div>
                </form>


    </div>

</div>
