<div class="container-fluid" ng-controller='userManagementController'>

    <div class="row">
        <div class="col-md-12">

                            <ul>
                                <li ng-repeat="user in users" active="user.active" disabled="user.disabled">
                                
                                    {{user.username}}    
                                    <ul>
                                        <li ng-repeat="group in user.groups">
                                            {{group.name}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>


        </div>
    </div>

    <div class="row">


        <hr />


    </div>

</div>
