<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles/normalize.css">
		<link rel="stylesheet" href="/styles/foundation.css">
		<link rel='stylesheet' href='/styles/style.css' />
		<script src="/js/vendor/modernizr-latest.js"></script>
	</head>
	<body>
		<h1 class='title-area'><%= title %></h1>
	</form>
	<!-- form -->
	<form action="/todos/add" method="post" accept-charset="utf-8">
		<div class="row">
			<div class="small-8 columns">
				<div class="row">
					<div class="small-3 columns">
						<input type="submit" value="Add TODO Item:"/>
					</div>
					<div class="small-9 columns">
						<input type="text" name="text" />
					</div>
				</div>
				<div class="row">
					<% todos.forEach( function ( todo ){ %>
					<div class="row">
						
						<div class="small-3 columns">
							<a class="ubutton postfix" href="/todos/edit/<%= todo.id %>" title="Update this todo item"><%= todo.text %></a>
						</div>
						<div class="small-3 columns">
							<a class="button postfix" onclick="deleteToDoItem(<%= todo.id %>);return false;" title="Delete this todo item">Delete</a>
						</div>
					</div>
					<% }); %>
				</div>
			</div>
		</div>
	</form>
	
	<script src="/js/vendor/jquery.min.js"></script>
	<script src="/js/vendor/foundation.min.js"></script>
	<script>
	function deleteToDoItem(id){
		$.ajax({
			url: '/todos/delete/' + id,
			type: 'DELETE',
			success: function(response) {
				alert(JSON.stringify(response));
				$(location).attr('href','/todos');
			}
	});
	}
	$(document).foundation();
	</script>
</body>
</html>