<div class='container-fluid' ng-controller='echoController'>
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
	          <h4>WebSocket Test</h4>
	          
	      	</div>
	      	<div class="panel-body">
				<form id="write" class="form-horizontal" ng-submit='echo()'>
			    <textarea msd-elastic="\n" class="form-control" id="output" readonly ng-model='reply'></textarea>
			    <input class="form-control" placeholder="write message that should echo" id="echo" ng-model='message'/>
			    <button type="submit" class="btn-primary btn">echo</button>
			  </form>
			</div>
		</div>


		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>Reactive Angular</h4>
			</div>
			<div class="panel-body">
				    <input type="text" ng-model="search">
					  <button ng-click="click()">Search</button>

					  <ul>
					    <li ng-repeat="result in results">{{result}}</li>
					  </ul>
			</div>
		</div>

	</div>

</div>


<div class='container-fluid' ng-controller='realTimeChartController'>
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
	          <h4>RealTime Chart</h4>
	          
	      	</div>
	      	<div class="panel-body">
			</div>
		</div>


	</div>

</div>
