<div class='container-fluid' ng-controller='zabbixController'>

            <div class="row">
              <div class="col-md-12">

                    <panel panel-class="panel-primary" data-heading="Host Groups">

                        <panel-controls>
                            <a href="javascript:;"><i class="fa fa-cog"></i></a>
                            <a href="javascript:;"><i class="fa fa-wrench"></i></a> 
                            <a href=""><panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse></a>
                        </panel-controls>


                        <div style="height: 500px;" ng-grid="hostGroupOptions"></div>

                    </panel>
              
                    <panel panel-class="panel-primary" data-heading="Hosts">

                        <panel-controls>
                            <a href="javascript:;"><i class="fa fa-cog"></i></a>
                            <a href="javascript:;"><i class="fa fa-wrench"></i></a> 
                            <a href=""><panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse></a>
                        </panel-controls>

                        <div class="input-icon right mb10">
                            <i class="fa fa-search"></i>
                            <input type="text" ng-model="filterOptions.groupids" class="form-control" placeholder="Filter By GroupIds">
                        </div>


                        <div style="height: 500px;" ng-grid="gridOptions"></div>

                    </panel>

                    <panel panel-class="panel-primary" data-heading="Items">

                        <panel-controls>
                            <a href="javascript:;"><i class="fa fa-cog"></i></a>
                            <a href="javascript:;"><i class="fa fa-wrench"></i></a> 
                            <a href=""><panel-control-collapse class="fa fa-chevron-down"></panel-control-collapse></a>
                        </panel-controls>


                        <div style="height: 500px;" ng-grid="itemOptions"></div>

                    </panel>

                </div>
            </div>


</div>