<div class='row'>
	<h1 class='12u'> The purpose of this dashboard is </h1>
	<ul>
		<li>
			Allow users to see what branch is deployed to each instance of a stack
		</li>
		<li>
			Deploy a specific branch to an instance
		</li>
		<li>
			See the last lines of the log of services running on an instance
		</li>
	</ul>
</div>
<div class='row'>
	<div class='2u'>
		<h2>Environment</h2>
		<p>
			The environment refers to the development state of the code & service. For example Production, Development, etc.
			Beloew are the list of the envrionments. Click on one of the environments will open the list of staccks for it.
		</p>
		<ul>
			<li ng-repeat="environment in environments" >
				<a ng-click='environmentOnClick($index)'>{{environment.description}}</a>
			</li>
		</ul>
	</div>
	<div class='2u'>
		<h2>Stacks</h2>
		<p>
			A stack is group a of instance working together with a specific purpose.
			Below are the list of the stacks. Click on one of the stacks will show the list of the instances.
		</p>
		<ul>
			<li ng-repeat="stack in stacks" >
				<a ng-click='stackOnClick($index)'>{{stack.description}}</a>
			</li>
		</ul>
	</div>
	<div class='2u'>
		<h2>Instances</h2>
		<p>
			Instances: are the representation of servers in the dashboard system.
			Below are the list of instances:
		</p>
		<ul>
			<li ng-repeat="instance in instances">
				<a href="#" class='instance text-center' ng-click='instanceOnClick($index)'>
					{{instance.description}}
				</a>
			</li>
		</ul>
	</div>
	<div class='6u'>
		<h2>Deploys</h2>
		<p>
			An user can deploy a branch to a specific instance.
		</p>
		<ul>
			<li ng-repeat="deploy in deploys">
				{{deploy.description}}
			</li>
		</ul>
	</div>
</div>