<div class="verticalcenter" ng-controller="SignupPageController">
	<a href="#/"><img src="assets/img/logo-big.png" alt="Logo" class="brand" /></a>
	<div class="panel panel-primary">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">Sign Up</h4>
				<form name="signUpform" ng-submit="adminSignUp(signUpform)" 
					class="form-horizontal" style="margin-bottom: 0px !important;">
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
									<input type="text" class="form-control" id="email" placeholder="Email"
									ng-model="user.email" mongoose-error required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" class="form-control" id="username" placeholder="Username" 
									ng-model="user.username" mongoose-error required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" class="form-control" id="firstname" placeholder="First Name" 
									ng-model="user.firstname" mongoose-error required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" class="form-control" id="lastname" placeholder="Last Name"
									ng-model="user.lastname" mongoose-error required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input type="password" class="form-control" id="password" placeholder="Password"
									ng-model="user.password" mongoose-error required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input type="password" class="form-control" id="passwordConfirm" name='passwordConfirm' 
									ng-model="user.passwordConfirm" match="user.password"
									placeholder="Repeat password">
								</div>
								<div ng-show="signUpform.passwordConfirm.$error.match">Password fields do not match!</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input type="text" class="form-control" id="secret" placeholder="Admin Secret"
									ng-model="user.secret" mongoose-error required>
								</div>
							</div>
						</div>
						<div class="checkbox block" style="text-align:center">
							<input icheck type="checkbox">
							<span>
								I accept the <a href="#">User Agreement</a>
							</span>
						</div>

						<div class="panel-footer">
							<div class="pull-left">
								<a href="#/" class="btn btn-default">Cancel</a>
							</div>
							<div class="pull-right">
								<button type='submit' class="btn btn-success">Sign up</button>
							</div>
						</div>
						
					</form>
					
		</div>

	</div>
</div>